<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="yangeditor"
         name="YANG Editor"
         point="org.eclipse.ui.editors">
      <editor
            class="fr.loria.madynes.yangeditor.editors.YANGEditor"
            contributorClass="fr.loria.madynes.yangeditor.editors.YANGEditorContributor"
            default="true"
            extensions="yang"
            icon="icons/yang.png"
            id="fr.loria.madynes.yangeditor.editors"
            name="YANG Editor" />
   </extension>
   <extension
         id="yangmarker"
         point="org.eclipse.core.resources.markers"
         name="YANG Marker">
      <super type="org.eclipse.core.resources.problemmarker" />
      <persistent value="false" />
   </extension>
   <extension
         id="yangperspectives"
         name="YANG Perspectives"
         point="org.eclipse.ui.perspectives">
      <perspective
            class="fr.loria.madynes.yangeditor.perspectives.YANGPerspective"
            fixed="true"
            icon="icons/yang.png"
            id="fr.loria.madynes.yangeditor.perspectives"
            name="YANG" />
   </extension>
   <extension
         id="yangpreferences"
         name="YANG Preferences"
         point="org.eclipse.ui.preferencePages">
      <page
            class="fr.loria.madynes.yangeditor.preferences.YANGPreferences"
            id="fr.loria.madynes.yangeditor.editors.preference.YANGPreferences"
            name="YANG">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="fr.loria.madynes.yangeditor.actionSet"
            label="Ying2Yang"
            visible="true">
         <menu
               id="fr.loria.madynes.yangeditor.menu"
               label="YANG" />
         <action
               class="fr.loria.madynes.yangeditor.editors.menus.YANGToYin"
               icon="icons/yang2yin.png"
               id="fr.loria.madynes.yangeditor.menu.yang2yin"
               label="Yang 2 Yin"
               style="push"
               toolbarPath="fr.loria.madynes.yangeditor.menu"
               tooltip="Convert YANG file into YIN file"/>
      </actionSet>
   </extension>
</plugin>
